// Start here!

@tablet: ~"(max-width: 768px)";
@phone: ~"(max-width: 400px)";

.border-radius (@radius: 10px) {
	-webkit-border-radius: @radius;
	-moz-border-radius:    @radius;
	border-radius:         @radius;
}

.container {
	   width: 80%;
	   @media @tablet {
	   	  width: 90%;
		  }
}

.kelnav {

       margin-top: 20px;
       
       a {
       text-decoration: none;
       color: black;
       padding: 20px;
       
       &:hover {
       	       text-decoration: underline;
       	       color: red;
       	       }
     }
}

.jumbo-class {
     width: 100%;
     .border-radius;
     padding: 5px;
     top-margin: 20px;
}


.aboutme {
     button {
     	    .border-radius(10px);
		&.hover {
			background: white;
			}
	    }
}

.skills {
	@media @phone {
	       margin-top: 20px;
	}
}
